<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
    <script>
        let socket = io()

        socket.on('atualizar_lista', function() {
            location.reload() 
        });
    </script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/chats">Chats</a></li>
        </ul>
    </nav>

    <div class="table-container">
        <h2>Chats</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente[0] }}</td> 
                    <td>{{ cliente[1] }}</td> 
                    <td>{{ cliente[2] }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
