<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/consulta">Consulta Pessoas</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h2 style="color: red;">{{ erro }}</h2>
        
    </div>
</body>
</html>